header {
	background: #c00;
	margin-bottom: 20px;
	padding: 3px 0;
	color: #fff;
}

header a {
	color: #fff !important;
}

header .header-inner {
	padding: 0 10px;
}

.info {
	background: #5BC0DE;
	border: 1px solid #339BB9;
	padding: 4px 9px 4px 9px;
	margin-bottom: 8px;
}

.info, .info a {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}

#footer {
	color: #aaa;
	border-top: 1px solid #eee;
	padding-top: 15px;
	margin-top: 15px;
}

#page-header {
	padding-bottom: 10px;
	margin-bottom: 20px !important;
	border-bottom: 3px double #ddd;
}

hr.small {
	margin-bottom: 15px;
}

.add-top {
	margin-top: 25px;
}

table {
	width: 100%
}

table tr td {
	color: #aaa;
}

table tr.in-1-min td,
table tr.in-2-min td,
table tr.in-3-min td,
table tr.in-4-min td,
table tr.in-5-min td {
	color: #444 !important;
}

table tr.in-6-min td,
table tr.in-7-min td,
table tr.in-8-min td,
table tr.in-9-min td,
table tr.in-10-min td {
	color: #666 !important;
}

table tr.in-11-min td,
table tr.in-12-min td,
table tr.in-13-min td,
table tr.in-14-min td,
table tr.in-15-min td {
	color: #888 !important;
}

table tr.in-16-min td,
table tr.in-17-min td,
table tr.in-18-min td,
table tr.in-19-min td,
table tr.in-20-min td {
	color: #999 !important;
}

table tr.in-due td {
	color: #0a0 !important;
}


table tr td {
	padding: 2px 0;
}

table tr td.route {
	width: 1px;
	padding: 0 10px 0 0;
}

table tr td.destination {
	
}

table tr td.wait {
	text-align: right;
}

table tr td.time {
	text-align: right;
	width: 1px;
	padding: 0 0 0 10px;
}

table tr.cancelledtrue td {
	text-decoration: line-through;
	color: #c00;
}

ul.square {
	list-style: square;
	margin-left: 20px;
}

ul li {
	margin-bottom: 7px;
}

small a {
	color: #06f !important;
}

.big-input {
	float: left;
	padding: 7px 6px !important;
	width: 100px !important;
	margin: 0 5px 0 0 !important;
}

.submit {
	margin-top: 0px !important;
}

@media only screen and (max-device-width: 480px) {
	body { margin-bottom: 13px; }
	header { margin-bottom: 0; }
	h3 { margin-top: 10px !important; }
	hr { margin: 10px 0; }
	table { margin-bottom: 20px; }
	.bottom { margin-bottom: 0px !important; }
}