<% content_for :title do %>London Buses<% end %>
<% content_for :page_title do %>London Buses<% end %>

<div class="six columns alpha">
    <h4>Stop Number</h4>
    <hr class="small"/>
    <form action="/search" method="POST">
        <input type="tel" name="stop" class="big-input"/>
        <input type="submit" class="submit"/>
    </form>
    
    <h4>Your Favourites</h4>
    <hr class="small"/>
    
    <% if @favourites %>
        <ul class="square">
            <% @favourites.each do |stop| %>
            <li><a href="/stop/<%= stop %>"><%= stop %></a></li>
            <% end %>
        </ul>  
    <% else %>
        <p>No favourites yet.</p>
    <% end %>
</div>

<div class="ten columns omega">
    <h4>Popular Stops</h4>
    <hr class="small"/>
    <ul class="square">
        <li>
            <a href="/stop/77387">Putney / St. Mary's Church (S)</a><br/>
            <small>Northbound</small>
        </li>
        <li>
            <a href="/stop/58304">South Africa Road (M)</a><br/>
            <small>Southbound</small>
        </li>
        <li>
            <a href="/stop/50617">Brixton Water Lane (BB)</a><br/>
            <small>towards Clapham Park or Streatham</small>
        </li>
        <li>
            <a href="/stop/55951">Barnes Station (A)</a><br/>
            <small>towards Hammersmith or Putney</small>
        </li>
    </ul>
</div>